[user]
	name = Evan Moran
	email = evanmoran@gmail.com
[color]
	ui = auto
[core]
	editor = sub -w
[push]
	default = current
[branch]
	autosetuprebase = always
[alias]
	panic = !tar cvf ../git_panic.tar .

	d = diff
	co = checkout
    br = branch
	st = status
	ci = commit
	cia = commit --amend
	staged = diff --cached
	cp = cherry-pick

  rma = !git ls-files --deleted -z | xargs -0 git rm

	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	diffs = diff --staged

    id = !printf `git log -n 1 --pretty=%H` | pbcopy && echo `pbpaste`
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p

    wip = !"git add -A; git ls-files --deleted -z | xargs -0 git rm; git commit -m \"wip\""
    unwip = !"git log -n 1 | grep -q -c wip && git reset HEAD~1"
    rb = !"git wip;git rebase -i origin/master;git unwip"
    pr = !"git fetch;git wip;git rebase --stat origin;git unwip;git heads"
    head = !"git log -n1"
    lost = !"git fsck | awk '/dangling commit/ {print $3}' | git show --format='SHA1: %C(yellow)%h%Creset %f' --stdin | awk '/SHA1/ {sub(\"SHA1: \", \"\"); print}'"
    heads = !"git log origin/master.. --format='%Cred%h%Creset;%C(yellow)%an%Creset;%H;%Cblue%f%Creset' | git name-rev --stdin --always --name-only | column -t -s';'"

    sup = submodule update --init --recursive
    patches = log --reverse -p
    grab = fetch -p --recurse-submodules=yes




