<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>B31023E0-268E-497C-A3E5-28DD04DD78F4</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPad-Air</string>
	<key>name</key>
	<string>iPad Air</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-9-0</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
